

#main-content.locationsPage {
  box-sizing: border-box;
  & > h2 {
    font-size: 2rem;
  }
  h3 {
    max-width: 700px;
    text-align: center;
  }
  iframe {
    width: 425px;
    height: 325px;
  }
  .imageDirections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 8px;
    background-color: $light-grey;
    &__box {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 33%;
      max-width: 33%;
      flex-basis: 33%;
      img {
        max-width: 100%;
      }
      p {
        padding: 8px !important;
        color: $dark-red;
        text-align: center;
        font-weight: bold;
      }
    }
  }
  .main__content__callThisNumber {
    h2, h4 {
      text-align: center;
    }
  }
  @media #{$inbetween} {
    .imageDirections {
      padding-top: 15px;
      &__box {
        width: 100%;
        max-width: 100%;
        flex-basis: 100%;
        p {
          font-size: 1.2rem;
        }
      }
    }
  }
  @media #{$mobile} {
    iframe {
      width: 100%;
      max-width: 100%;
    }
    .main__content__callThisNumber {
      h2 {
        font-size: 1.3rem;
      }
    }
  }
}
