

#main-content.locationsPage {
  box-sizing: border-box;

  .imageDirections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 8px;
    background-color: $light-grey;
    &__box {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 33%;
      max-width: 33%;
      flex-basis: 33%;
      img {
        max-width: 100%;
        // border: 2px solid $dark;
      }
      p {
        padding: 8px !important;
        color: $dark-red;
        text-align: center;
      }
    }
  }
  @media #{$inbetween} {
    .imageDirections {
      padding-top: 15px;
      &__box {
        width: 100%;
        max-width: 100%;
        flex-basis: 100%;
        p {
          font-size: 1.2rem;
        }
      }
    }
  }
}
