
section.servicesPage .main__content {
  * {
    box-sizing: border-box;
  }
  p {
    padding: 8px !important;
    margin-bottom: 0px;
  }
  .listAndImage {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    &__listBox {
      width: 40%;
      max-width: 40%;
      flex-basis: 40%;
      ul {
        list-style-type: initial !important;
        li {
          list-style: circle !important;
          display: block !important;
        }
      }
    }
    &__imageBox {
      width: 60%;
      max-width: 60%;
      flex-basis: 60%;
      img {
        max-width: 100%;
      }
    }
  }
  .imagesColumn {
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 675px;
    flex-wrap: wrap;
    &__box {
      width: 50%;
      max-width: 50%;
      flex-basis: 50%;
      padding: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      img {
        max-width: 100%;
        object-fit: contain;
        align-self: flex-start;
      }
      p {
        width: 100%;
        text-align: center;
        background-color: $lighter-grey;
      }
      &.full {
        width: 100%;
        max-width: 100%;
        flex-basis: 100%;
      }
    }
  }

  @media #{$mobile} {
    .listAndImage {
      &__listBox {
        width: 100%;
        max-width: 100%;
        flex-basis: 100%;
        ul {
          padding-left: 0px;
          li {
            text-align: center;
            font-weight: bold;
            padding-bottom: 2px;
            padding-top: 2px;
            &:nth-of-type(2n) {
              background-color: $inbetween-grey;
            }
          }
        }
      }
      &__imageBox {
        width: 100%;
        max-width: 100%;
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    .imagesColumn__box {
      width: 100%;
      max-width: 100%;
      flex-basis: 100%;
      justify-content: center;
    }
  }
}
